* {
    font-family: 'Kanit', sans-serif;
}

body{
    background-color: black;
}

.main {
    margin-top: 5em;
}

.logoEpayco{
    max-width: 8em;
}


.card-style{
    width: 25em !important;
}

.mtop{
    margin-top: 5em !important;
}

@media screen and (min-width: 576px) {
    .cardLogin {
        width: 25em !important;
    }
}

@media screen and (max-width: 576px) {
    .cardLogin {
        width: 15em !important;
    }
}